.main
{
  opacity: 1;                                 /*Use for animation*/
}


.btn-circle.btn-xl { 
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  right:50px;
  bottom: 50px;
  width: 70px; 
  height: 70px; 
  padding: 10px 16px; 
  border-radius: 35px; 
  text-align: center; 
  z-index: 5;
} 

.my-h1
{
  font-size: 20px;
  padding: 15px;
  color: white;
}

.my-h2
{
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
}

.my-h2:hover
{
  color: red;
}

.active-button
{
  color: red;
}


/* Custom form css */
.my-form
{
  position: fixed;
  right:0;
  bottom: 0;
  width: 50vw;
  height: 60vh;
  transform: translateX(105vw);
  z-index: 10;
  overflow: auto;
  display: flex;
  justify-content:center;
}

.form-btn
{
  background-color: coral;
  padding: 0 3rem;
  width: 10%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
}

.back-btn
{
  position: fixed;
  height: 10%;
  top: 1.5rem;
  left:1.5rem;
  margin-bottom: 3rem;
}

.form-btn span
{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.form-add-ctn .form-btn
{
  padding: 5rem 3rem;
  border: none;
}


.form-add-input
{
  width: 100%;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-form input
{
  align-self: center;
}

.form-ctn
{
  margin-top: 8rem;
  width: 75%;
}

.form-add-ctn
{
  display: flex;
}

.form-add
{
  width: 100%;
  height: 50px;
}

.form-name-ctn
{
  display: flex;
  margin-top: 1.5rem;
}

.form-del
{
  width: 100%;
}

.form-name
{
  width: 100%;
  padding: 1.2rem;
  height: 100%;
}

/* Responsive */

@media (max-width: 768px)
{
  .my-form
  {
    width: 100vw;
    height: 70vh;
  }
}

